In [44]:
# Script to prepare the data from CS3 of climate indicators proyections to run Calliope
# Only UK and IE are included
# Noelia Otero. Energy-Climate Hacktahon 2021

import pandas as pd
import geopandas as gpd
# Operations on geometries
import shapely
import numpy as np
import math
import xarray as xr
from datetime import datetime

In [45]:
# Energy infodata
path_clims = '/home/users/train028/capacity_climproj/'
pv_rcp26 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_SPV_NA---_Euro_NUT0_S197101010130_E209912312230_CFR_TIM_03h_NA-_cdf_org_01_RCP26_NA---_PhM02.csv',skiprows=range(0, 51))
pv_rcp85 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_SPV_NA---_Euro_NUT0_S197101010130_E209912312230_CFR_TIM_03h_NA-_cdf_org_01_RCP85_NA---_PhM02.csv',skiprows=range(0, 51))
wind_rcp26 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_WON_0100m_Euro_NUT0_S197101010000_E209912312100_CFR_TIM_03h_NA-_cdf_org_01_RCP26_NA---_PhM01.csv',skiprows=range(0, 51))
wind_rcp85 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_WON_0100m_Euro_NUT0_S197101010000_E209912312100_CFR_TIM_03h_NA-_cdf_org_01_RCP85_NA---_PhM01.csv', skiprows=range(0, 51))

#HRE_rcp26 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_HRE_NA---_Euro_NUT0_S197101010000_E209912312300_CFR_TIM_01d_NA-_noc_org_NA_RCP26_NA---_StRnF.csv',skiprows=range(0, 61))
#HRE_rcp85 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_HRE_NA---_Euro_NUT0_S197101010000_E209912312300_CFR_TIM_01d_NA-_noc_org_NA_RCP85_NA---_StRnF.csv',skiprows=range(0, 61))
#HROR_rcp26 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_HRO_NA---_Euro_NUT0_S197101010000_E209912312300_CFR_TIM_01d_NA-_noc_org_NA_RCP26_NA---_StRnF.csv',skiprows=range(0, 61))
#HROR_rcp85 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_HRO_NA---_Euro_NUT0_S197101010000_E209912312300_CFR_TIM_01d_NA-_noc_org_NA_RCP85_NA---_StRnF.csv',skiprows=range(0, 61))

wind_OF_rcp26 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_WOF_0100m_Euro_MAR0_S197101010000_E209912312100_CFR_TIM_03h_NA-_cdf_org_01_RCP26_NA---_PhM01.csv',skiprows=range(0, 51))
wind_OF_rcp85 = pd.read_csv(path_clims + 'P_CMI5_ReMO_CM20_WOF_0100m_Euro_MAR0_S197101010000_E209912312100_CFR_TIM_03h_NA-_cdf_org_01_RCP85_NA---_PhM01.csv', skiprows=range(0, 51))
# read daily
path_clims_day ='/home/users/train028/daily_CF/'
# read Demand RCP
demand_rcp26 = pd.read_csv(path_clims_day + 'P_CMI5_ReMO_CM20_EDM_0000m_Euro_NUT0_S197101010000_E209912310000_PWR_TIM_01d_NA-_noc_org_01_RCP26_NA---_GamNT.csv',skiprows=range(0, 53))
demand_rcp85 = pd.read_csv(path_clims_day + 'P_CMI5_ReMO_CM20_EDM_0000m_Euro_NUT0_S197101010000_E209912310000_PWR_TIM_01d_NA-_noc_org_01_RCP85_NA---_GamNT.csv',skiprows=range(0, 53))

In [49]:
def savedata(mdat,selcol, fname,data,daily):
    # select IE & UK 
    selcol.append('Date')
    mdat_nat=mdat[selcol]
    #mdat_nat.rename(columns = {'Date':'time','UK':'GBR'}, inplace=True)
    mdat_nat.columns= ['IRL','GBR','time']
    mdat_nat = mdat_nat[['time','IRL','GBR']]
    if daily:
        mdat_nat['time'] =  pd.to_datetime(mdat_nat['time'], format='%Y-%m-%d %H:%M:%S')
        day_dat = mdat_nat.resample('d', on='time').mean()
        day_dat.reset_index(level=0, inplace=True)
        day_dat.to_csv(fname + '_daily' + ".csv", sep = ",", index = False)
        
        
    if (data=="demand"):
        mdat_nat['time'] =  pd.to_datetime(mdat_nat['time'], format='%Y-%m-%d %H:%M:%S')
        mdat_nat[['IRL','GBR']]=(mdat_nat[['IRL','GBR']].values*(-1)/24)*0.001 # need to convert to daily mean power 
        
        #mdat_nat.reset_index(level=0, inplace=True)
    mdat_nat.to_csv(fname + ".csv", sep = ",", index = False)
    return(mdat_nat)

In [260]:
savedata(pv_rcp26,['IE','UK'], "pv_day_rcp26", daily= 'TRUE')
savedata(pv_rcp85,['IE','UK'], "pv_day_rcp85", daily= 'TRUE')

                      time       IRL       GBR
0      1971-01-01 01:30:00  0.000000  0.000000
1      1971-01-01 04:30:00  0.000000  0.000000
2      1971-01-01 07:30:00  0.000161  0.003399
3      1971-01-01 10:30:00  0.222290  0.241390
4      1971-01-01 13:30:00  0.353952  0.296971
5      1971-01-01 16:30:00  0.046895  0.018430
6      1971-01-01 19:30:00  0.000000  0.000000
7      1971-01-01 22:30:00  0.000000  0.000000
8      1971-01-02 01:30:00  0.000000  0.000000
9      1971-01-02 04:30:00  0.000000  0.000000
10     1971-01-02 07:30:00  0.000103  0.002395
11     1971-01-02 10:30:00  0.131750  0.128280
12     1971-01-02 13:30:00  0.206833  0.151520
13     1971-01-02 16:30:00  0.021999  0.009127
14     1971-01-02 19:30:00  0.000000  0.000000
15     1971-01-02 22:30:00  0.000000  0.000000
16     1971-01-03 01:30:00  0.000000  0.000000
17     1971-01-03 04:30:00  0.000000  0.000000
18     1971-01-03 07:30:00  0.000003  0.000580
19     1971-01-03 10:30:00  0.003872  0.020837
20     1971-01-03 13:30:00  0.005985  0.019094
21     1971-01-03 16:30:00  0.000806  0.000912
22     1971-01-03 19:30:00  0.000000  0.000000
23     1971-01-03 22:30:00  0.000000  0.000000
24     1971-01-04 01:30:00  0.000000  0.000000
25     1971-01-04 04:30:00  0.000000  0.000000
26     1971-01-04 07:30:00  0.000006  0.000146
27     1971-01-04 10:30:00  0.009319  0.068574
28     1971-01-04 13:30:00  0.021242  0.115984
29     1971-01-04 16:30:00  0.003544  0.005963
...                    ...       ...       ...
376906 2099-12-28 07:30:00  0.002866  0.011731
376907 2099-12-28 10:30:00  0.174661  0.230223
376908 2099-12-28 13:30:00  0.253084  0.225835
376909 2099-12-28 16:30:00  0.021875  0.011175
376910 2099-12-28 19:30:00  0.000000  0.000000
376911 2099-12-28 22:30:00  0.000000  0.000000
376912 2099-12-29 01:30:00  0.000000  0.000000
376913 2099-12-29 04:30:00  0.000000  0.000000
376914 2099-12-29 07:30:00  0.003654  0.005961
376915 2099-12-29 10:30:00  0.233781  0.157577
376916 2099-12-29 13:30:00  0.278726  0.152086
376917 2099-12-29 16:30:00  0.024784  0.005696
376918 2099-12-29 19:30:00  0.000000  0.000000
376919 2099-12-29 22:30:00  0.000000  0.000000
376920 2099-12-30 01:30:00  0.000000  0.000000
376921 2099-12-30 04:30:00  0.000000  0.000000
376922 2099-12-30 07:30:00  0.000487  0.004695
376923 2099-12-30 10:30:00  0.024477  0.148618
376924 2099-12-30 13:30:00  0.024238  0.118485
376925 2099-12-30 16:30:00  0.001715  0.002579
376926 2099-12-30 19:30:00  0.000000  0.000000
376927 2099-12-30 22:30:00  0.000000  0.000000
376928 2099-12-31 01:30:00  0.000000  0.000000
376929 2099-12-31 04:30:00  0.000000  0.000000
376930 2099-12-31 07:30:00  0.000486  0.004646
376931 2099-12-31 10:30:00  0.024380  0.146701
376932 2099-12-31 13:30:00  0.024142  0.116888
376933 2099-12-31 16:30:00  0.001710  0.002547
376934 2099-12-31 19:30:00  0.000000  0.000000
376935 2099-12-31 22:30:00  0.000000  0.000000

[376936 rows x 3 columns]